*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content{
    /* background-color: aqua; */
    height:83%;
    width: 100%;
    /* padding-top: 5%; */
    padding-top: 2%;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}
.card{
    /* background-color: red; */
    height: 70%;
    width: 15%;
    display: flex;
    margin-left: 0.5%;
    margin-bottom: 2%;
    flex-direction: column;
    outline-style: solid;
    outline-width: 1px;
}

.card-img{
    /* background-color: yellow; */
    width: 100%;
    height: 60%;
    margin-bottom: 5%;
   
}

.card-img img{
    height: 100%;
    width: 100%;
}

.shirt{
    /* background-color: blueviolet; */
    height: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.shirt-comp{
    /* background-color: aqua; */
    font-weight: bold;
    width: fit-content;
    
    
}
.shirt-name{
    /* background-color: burlywood; */
    
    height: fit-content;
    width: fit-content;
    text-align: center;
    
}

.price{
    /* background-color: chartreuse; */
    width: fit-content;
    font-weight: 600;
    font-size: 25px;
    color: maroon;
    margin-left: 9%;
    margin-bottom: 5%;
}
.stock{
    /* background-color: aqua; */
    width: 100%;
    /* margin-left: 35%; */
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}
em{
    margin-left: 2%;
}

.a-b{
    /* background-color: greenyellow; */
    height: 6%;
    display: flex;
    justify-content: center;
}
.add-button{
    width: 50%;
    background-color: blueviolet;
    color: white;
    border-radius: 15px;
    font-weight: 600;
}














