*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.footer{
    background-color: orangered;
    height: 6.5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:cursive;
    font-size: larger;
    /* margin-top: 1.5rem; */
}