*{
    box-sizing: border-box;
    padding:0;
    margin:0;
  }
  
  /* .App,#root{
    height: 100%;
    width: 100%;
  
  } */
  
  .header{
    background-color: rgb(22, 24, 30);
    height: 6.5%;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .amz-img{
    height: 100%;
  }
  
  .searchbar{
    /* background-color: red; */
    height: 70%;
    width: 65%;
    margin-left: 5%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-style: none;
    font-size: 20px;
    padding-left: 40px;
    outline: none;
  }
  
  .search-icon{
    background-color: #ffb84d;
    height: 70%;
    width: 55px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-right: 2.5%;
  }
  
  .search-icon i{
    /* background-color: rgb(238, 238, 13); */
    font-size: 23px;
  }
  
  .cart{
    /* background-color: red; */
    height: 60%;
    width: 4%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    outline: white solid 1px;
    margin-right: 2.5%;
  }
  
  .cart i{
    /* background-color: chartreuse; */
    color: white;
    font-size: 23px;
    text-decoration: none;
  }
  .cart-count{
    background-color: red;
    color: white;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
  }
  
  .signin{
    /* background-color: blueviolet; */
    
    color: greenyellow;
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    outline: white solid 1px;
    text-decoration: underline;
  
  }
  
  .login{
    margin-left: 2%;
    
  }  