*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.subheader{
    background-color: #232f3e;
    height: 4%;
    width: 100%;
    display: flex;
    align-items: center;
    
  }
  
  .subheader i{
    color: white;
    margin-left: 1%;
    font-size: 20px;
  
  }
  
  .all{
    /* background-color: red; */
    margin-left: 0.2%;
    color: white;
    
    font-size: 13px;
    font-weight: bold;
   
  }

  .shirts{
    /* background-color: red; */
    color: white;
    margin-left: 1%;
    font-weight: 600;
    font-size: 13px;
    text-decoration: none;
   

  }
  
  .pants{
    /* background-color: aqua; */
    color: white;
    margin-left: 1%;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
  
  }